.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.group1000003673 {
  width: 1243px;
  height: 430px;
  display: block;
}
.text___22NLe {
  display: block;
  font-size: 40px;
  text-transform: capitalize;
  font-family: "Hahmlet", serif;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 58px;
  color: rgba(37, 37, 37, 1);
  position: absolute;
  top: 0px;
  right: 326px;
  width: 904px;
}
.text__x0J9E {
  display: block;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.600000023841858;
  color: rgba(37, 37, 37, 0.5);
  position: absolute;
  top: 74px;
  right: 387px;
  width: 843px;
}
.group1000003671 {
  width: 1177px;
  height: 336px;
  display: block;
  position: absolute;
  top: 94px;
  left: 36px;
}
.group1000003667 {
  width: 194px;
  height: 305px;
  display: block;
  position: absolute;
  top: 31px;
  left: 0px;
}
.text__vYkPm {
  display: block;
  font-size: 23px;
  font-family: "Hahmlet", serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(37, 37, 37, 1);
  position: absolute;
  top: 272px;
  right: 61px;
}
.rectangle32 {
  background: linear-gradient(
      180deg,
      rgba(253, 183, 62, 1) 0%,
      rgba(204, 155, 0, 1) 68.26%
    )
    0% 0% / 100% 100% no-repeat;
  width: 194px;
  height: 192px;
  display: block;
  position: absolute;
  top: 54px;
  right: 0px;
  border-radius: 118px;
}
.iconMusicCopy1 {
  background: url("./images/iconMusicCopy1.png") center center / cover no-repeat;
  width: 162px;
  height: 243px;
  display: block;
  position: absolute;
  top: 0px;
  left: 16px;
}
.group1000003668 {
  width: 194px;
  height: 301px;
  display: block;
  position: absolute;
  top: 35px;
  left: 325px;
}
.text___31A3T {
  display: block;
  font-size: 23px;
  text-align: center;
  font-family: "Hahmlet", serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(37, 37, 37, 1);
  position: absolute;
  top: 268px;
  right: 77px;
}
.rectangle33 {
  background: linear-gradient(
      180deg,
      rgba(2, 179, 70, 1) 0%,
      rgba(4, 154, 14, 1) 59.61%
    )
    0% 0% / 100% 100% no-repeat;
  width: 194px;
  height: 192px;
  display: block;
  position: absolute;
  top: 50px;
  right: 0px;
  border-radius: 118px;
}
.iconArtCopy1 {
  background: url("./images/iconArtCopy1.png") center center / cover no-repeat;
  width: 157px;
  height: 235px;
  display: block;
  position: absolute;
  top: 0px;
  left: 18px;
}
.group1000003669 {
  width: 216px;
  height: 285px;
  display: block;
  position: absolute;
  top: 45px;
  left: 640px;
}
.rectangle34 {
  background: linear-gradient(
      180deg,
      rgba(119, 93, 166, 1) 0%,
      rgba(65, 53, 86, 1) 99.99%
    )
    0% 0% / 100% 100% no-repeat;
  width: 194px;
  height: 192px;
  display: block;
  position: absolute;
  top: 40px;
  right: 11px;
  border-radius: 118px;
}
.text__diHxW {
  display: block;
  font-size: 23px;
  text-align: center;
  font-family: "Hahmlet", serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(37, 37, 37, 1);
  position: absolute;
  top: 252px;
  right: 79px;
}
.iconYogaCopy1 {
  background: url("./images/iconYogaCopy1.png") center center / cover no-repeat;
  width: 216px;
  height: 216px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group1000003670 {
  width: 200px;
  height: 336px;
  display: block;
  position: absolute;
  top: 0px;
  left: 977px;
}
.rectangle30655 {
  background: linear-gradient(
      180deg,
      rgba(2, 179, 70, 1) 0%,
      rgba(4, 154, 14, 1) 59.61%
    )
    0% 0% / 100% 100% no-repeat;
  width: 194px;
  height: 192px;
  display: block;
  position: absolute;
  top: 85px;
  right: 6px;
  border-radius: 118px;
}
.text__btVy8 {
  display: block;
  font-size: 23px;
  text-align: center;
  font-family: "Hahmlet", serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(37, 37, 37, 1);
  position: absolute;
  top: 303px;
  right: 75px;
}
.chatGptImageNov152025114017AmCopy1 {
  background: url("./images/chatGptImageNov152025114017AmCopy1.png") center center / cover no-repeat;
  width: 195px;
  height: 292px;
  display: block;
  position: absolute;
  top: 0px;
  left: 5px;
}
.group2Copy {
  width: 72px;
  height: 72px;
  display: block;
  position: absolute;
  top: 239px;
  left: 0px;
}
.svg__us7NC {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 72px;
  height: 72px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}
.svg___4LDqW {
  object-fit: cover;
  max-width: 100%;
  color: #775da6;
  transform: rotate(90.00000000000001deg) translate(-0.5px, -0.5px);
  width: 18px;
  height: 9px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 28px;
  left: 41px;
}
.group2Copy2 {
  transform: scale(1, -1) rotate(-180deg);
  width: 72px;
  height: 72px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 239px;
  left: 1243px;
}
.svg__wSbV8 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 72px;
  height: 72px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  right: 0px;
}
.svg__bjfW {
  object-fit: cover;
  max-width: 100%;
  color: #775da6;
  transform: rotate(90.00000000000001deg) translate(-0.5px, -0.5px);
  width: 18px;
  height: 9px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 28px;
  left: 41px;
}
